
#loginsignupfullpage {
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    background-position: center;
    background-size: cover;
    position: absolute;
    /* This block of code is for the setting the background image and position of the image*/
}
#loginsignupformbox {
    width: 400px;
    position: relative;
    margin: 2% auto;
    height: fit-content;
    margin-top: 120px;
    background-color: white;
    padding: 5px 20px 15px 20px;
}
#loginsignuph3 {
    color: blue;
}
#loginsignuph1 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: blue;
}
#lognsignupparagraph {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;

}
#loginsignupinput {
    color: black;
    font-size: 14px;
    width: 90%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid blue;
    background: transparent;
    outline: none;
}
#loginsignupbutton {
    width: 40%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    background: green;
    border: 0;
    outline: none;
    border-radius: 30px;
    margin-top: 25px;
}
#loginsignupimage{
    width: 100px;
    height: 100px;
}
