
#userformbox {
    width: 600px;
    height: 330px;
    position: relative;
    margin: 2% auto;
    /*height: fit-content;*/
    margin-left: 470px;
    display: inline-block;
    background-color: whitesmoke;
    padding: 5px 20px 15px 20px;
}
#useremail,
#userpassword,
#userphonenumber,
#username {
    display: inline-block;
    align-items: flex-start;
    width: 50%;
    margin-top: 10px;
}
#usernameinput,
#userphoneinput,
#useremailinput,
#userpasswordinput
 {
    color: black;
    font-size: 14px;
    width: 90%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-color: blue;
    background-color: transparent;
    outline: none;
}
#usernameinput ::placeholder,
#userphoneinput ::placeholder,
#useremailinput ::placeholder,
#userpasswordinput ::placeholder {
    text-align: center;
    font-size:smaller;
}
#userbutton {
    width: 40%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    background: #2eeea2;
    border: 0;
    outline: none;
    border-radius: 30px;
    margin-top: 25px;
}
#userimage{
    width:100px;
    height: 100px;
    margin-left: 720px;
    margin-top: 20px;
}
#userh1{
    margin-top: 20px;
}
